.uno{
    background-color: aqua;
    height: 500px;
}
.dos{
    background-color: yellow;
    height: 500px;
}
.tres{
    background-color: purple;
    height: 500px;
}
.cuatro{
    background-color: black;
    height: 500px;
}
.cinco{
    background-color: red;
    height: 500px;
}