#cabecera {
    font-weight: bold;
    text-align: center;
    background-color: white;
}

table {
    width: 50%;
    margin: auto;
}

table td {
    text-align: center;
}

table tr {
    background-color: deepskyblue;
}

.impar {
    background-color: greenyellow;
}