body {
    background-color: coral;
}

#contenido {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    
}

img {
    width: 30em;
    border-radius: 1em;
}